@font-face {
  font-family: mmc-regular;
  src: url(../fonts/MMCOFFICE-Regular.ttf);
}
@font-face {
  font-family: mmc-bold;
  src: url(../fonts/MMCOFFICE-Bold.ttf);
}
@font-face {
  font-family: mmc-medium;
  src: url(../fonts/MMC-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: mmc-regular;
}

body {
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #274046,
    #e6dada
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.mmc-bold {
  font-family: mmc-bold;
}

.mmc-medium {
  font-family: mmc-medium;
}

.mmc-regular {
  font-family: mmc-regular;
}

.logo {
  width: 70px;
  height: 70px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky-navbar {
  /* background: rgba(0, 0, 0, 0.3); */
  background: black;
}

.thumb {
  width: 200px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper-slide-testimoni {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.container-100 {
  width: 100%;
}

.display-grid {
  display: grid;
  grid-template-areas:
    "n1"
    "n2";
  gap: 10px;
}

.n1 {
  grid-area: n1;
}

.n2 {
  grid-area: n2;
}

.container-profile {
  padding-top: 120px;
  padding-bottom: 140px;
  padding-right: 50px;
  margin-left: auto;
  width: 800px;
}

.palet {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
  margin-right: 10px;
}

.color-black {
  background: #050505;
}
.color-white {
  background: #e6e6e6;
}
.color-grey {
  background: #303034;
}
.color-silver {
  background: #81817f;
}
.color-bronze {
  background: #664019;
}
.color-red {
  background: #d41111;
}
.color-orange {
  background: #d8810f;
}
.color-white-diamond {
  background: #ffffff;
}
.text-black {
  color: black;
}

/* Style the buttons that are used to open and close the simulasi panel */
.simulasi {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.product .active,
.simulasi:hover {
  background-color: #ccc;
}

/* Style the simulasi panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* Plus Sign */
.simulasi:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
}

/* Minus Sign */
.product .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* Akhir Testing */

.btn-product {
  width: 150px;
  border-radius: 0 !important;
}

.line {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.bg-xpander {
  background-color: #dadada;
}

.bg-xpander-cross {
  background-color: #fff;
}

.bg.pajero-sport {
  background-color: #dadada;
}

.bg-eclipse-cross {
  background-color: #dadada;
}

.bg-triton {
  background-color: #dadada;
}

.bg-l300 {
  background-color: #fff;
}

#selectTenor:focus {
  color: black;
}

#buttonHitung {
  border-radius: 0;
}

section.footer {
  color: white;
}

section.footer a {
  color: white;
  text-decoration: none;
}

section.footer a:hover {
  color: red;
}

section.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 22px;
  gap: 20px;
}

section.footer .tetap {
  font-size: 12px;
  font-weight: 700;
  color: #9b9b9b;
  text-align: center;
}

section.footer .tetap::before,
section.footer .tetap::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 60px;
  height: 3px;
  border-radius: 4px;
  background: #da291c;
}

.outer-container-profile {
  background: url(http://localhost/vandys/assets/img/bg-profile.jpg);
  background-size: cover;
  text-align: right;
}

/* Tablet */
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) and (orientation: portrait) {
  .container-dealer {
    margin-bottom: 1.5rem;
  }
}

/* Mobile (landscape) */
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) and (orientation: landscape) {
  .container-dealer,
  .container-tetap {
    margin-bottom: 1.5rem;
  }
}

/* Mobile (Portrait) */
@media (max-width: 576px) {
  .container-dealer,
  .container-tetap {
    margin-bottom: 1.5rem;
  }

  .outer-container-profile {
    background: url(http://localhost/vandys/assets/img/bg-profile-mb.jpg);
    background-size: cover;
    text-align: center;
  }

  .palet {
    width: 30px;
    height: 30px;
  }

  .btn-product {
    width: 140px;
  }
}

/* iPads Pro (Portrait) */
@media only screen and (min-device-width: 800px) and (max-device-width: 1112px) and (orientation: portrait) {
  .container-dealer {
    margin-bottom: 1.5rem;
  }
}

/* iPads Pro (Landscape) */
@media only screen and (min-device-width: 800px) and (max-device-width: 1112px) and (orientation: landscape) {
}
